@charset "UTF-8";

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans ExtraLight"), local("FiraSans-ExtraLight"), url("/assets/fonts/FiraSans-ExtraLight-b276abee14c8e1fdd2e95eb87f13b6a8.woff2?vsn=d") format("woff2"),
    url("/assets/fonts/FiraSans-ExtraLight-7e67d9c47ded7a8c0f8cdf5141c86ddf.woff?vsn=d") format("woff"),
    url("/assets/fonts/FiraSans-ExtraLight-9c0d2c27c5d4f102b234422955748113.ttf?vsn=d") format("truetype");
  font-weight: 200;
  font-style: normal;
}

html,
body {
  width: 100%;
  margin: 0px;
}

.container {
  margin: auto;
  width: 70%;
}

#codestatsembedded {
  font-family: "Segoe UI";
  margin: auto;
  margin-top: 50px;
  max-width: 900px;
  height: auto;
  border: 1px solid lightgray;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.top-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 0px;
  margin-bottom: 3px;
}

.bottom-container {
  height: 20px;
  width: auto;
  text-align: right;
  padding: 4px;
  border-top: 1px solid lightgray;
}

.bottom-container > small {
  color: #303030;
  font-style: italic;
}

.dataOf {
  float: left;
}

.codestats-colum-left {
  width: 50%;
  float: left;
}

.column-title {
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1;
  margin: 0px;
  padding: 0px;
  margin-bottom: -10px;
}

.level-counter {
  font-weight: 400;
}

.separator {
  top: 0px;
  float: right;
  border-left: 1px solid lightgray;
}

.codestats-colum-right {
  width: 50%;
  height: auto;
  float: right;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 7px;
}

.total-progress {
  font-size: 0.7rem;
}
#myChart {
  margin-top: 20px;
}

div.progress-bar {
  position: relative;
  width: 100%;
  height: 15px;
  background-color: #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

div.progress-bar > span.progress {
  display: block;
  height: 100%;
  transition: width 0.2s ease-out;
}

div.progress-bar > span.progress.progress-old {
  background-color: #6ec06e;
  border-radius: 5px 0 0 5px;
}

div.progress-bar > span.progress.progress-recent {
  background-color: #f2b866;
  border-radius: 0 5px 5px 0;
}

div.progress-bar:not(.stacked) > span.progress {
  border-radius: 5px;
}

div.progress-bar > span.total-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.other-languages {
  grid-area: other-l;
}

.combined-level-progress {
  padding-bottom: 3px;
  margin-bottom: -15px;
}
.top-languages:last-child {
  margin-bottom: 10px;
}

.combined-level-progress .level-counter {
  margin-bottom: 5px;
}

.year-xps {
  max-width: 100%;
  overflow-x: hidden;
  grid-area: year-xps;
}

.year-xps div.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.year-xps div.table-container table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 972px;
}

.year-xps div.table-container table th,
.year-xps div.table-container table td {
  width: 30px;
  text-align: center;
}

.year-xps div.table-container table th.small,
.year-xps div.table-container table td.small {
  font-size: 0.8rem;
}

.year-xps div.table-container table th.today,
.year-xps div.table-container table td.today {
  font-weight: bold;
  text-decoration: underline;
}

.year-xps div.table-container table th:first-child,
.year-xps div.table-container table td:first-child {
  font-weight: bold;
  text-align: right;
  width: 42px;
  padding-right: 2px;
}
